@media screen and (max-width:1400px) {
       form,.form-detail{
        width: 80%;
       }
}
@media screen and (max-width:992px) {
    form,.form-detail{
     width: 100%;
    }
}
@media screen and (max-width:768px) {
    
    .form-detail{
       margin-top: 50PX;
     
    }
    .form-btn {
      
        display: inline;
    
    }
   
}